# This file is used to specify files and folders that should be ignored by git.

# Venv and VSCode settings
.vscode
venv

# Building to exe and compiled files
build_to_exe
output

# Data files
__pycache__
instalocker_beta.py

# Other files
screenshotter.py
user_settings.json

# All json
*.json

# Ignore necessary files
!default.json
!config.json